<html>
  <head>
    <title>New Message</title>
  </head>
  <body>
    <h1>New Message</h1>
    <form action="/new" method="POST">
      <lable for="user">User:</lable>
      <input type="text" id="user" name="user">
      <lable for="message">Message:</lable>
      <input type="text" id="message" name="message">
      <button type="submit">Send</button>
    </form>
  </body>
</html>
